$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@font-face {
    font-family: 'merxbpcom';
    src:url('fonts/merxbpcom.eot');
    src:url('fonts/merxbpcom.eot?#iefix') format('embedded-opentype'),
        url('fonts/merxbpcom.ttf') format('truetype'),
        url('fonts/merxbpcom.woff') format('woff'),
        url('fonts/merxbpcom.svg#merxbp.com') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'merxbpcom';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
    content: "\e604";
}
.icon-user:before {
    content: "\e600";
}
.icon-qrcode:before {
    content: "\e601";
}
.icon-mobile:before {
    content: "\e602";
}
.icon-globe:before {
    content: "\e603";
}
.icon-connection:before {
    content: "\e605";
}
.icon-screen:before {
    content: "\e606";
}
.icon-phone:before {
    content: "\e607";
}
.icon-search:before {
    content: "\f002";
}
.icon-phone2:before {
    content: "\f095";
}
.icon-arrow-left:before {
    content: "\e608";
}
.icon-arrow-right:before {
    content: "\e609";
}
.icon-arrow-left2:before {
    content: "\e60a";
}
.icon-arrow-right2:before {
    content: "\e60b";
}
.icon-arrow-left3:before {
    content: "\e60c";
}
.icon-uniE60D:before {
    content: "\e60d";
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.container{
    padding: 0;
}

/* Space out content a bit */
body {
    font-size: 16px;
    padding-top: 20px;
}
figure{
    margin:0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {    
    h1{
        margin:0;
        img{
          width:100%;
        }
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.search-form{
    position: relative;
    input{
        height: 30px;
        border-radius: 2px;
        border-width: 2px;
        padding-right: 1.8em;
    }
    .icon-search{
        color: #1bafeb;
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
/* Custom page footer */
.footer {
    background: #2a303e;
    border-top: solid 3px #1bafeb;
    color: #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    p,
    a{
        font-size: .8em;    
    }
    li{
        display: inline-block;
        margin: 0 .3em;
        a{
            border-bottom:none;
            border-right: solid .1em #ccc;
            padding-right: .5em;
            display: inline-block;
            text-decoration: none;
            cursor:pointer;
            color: #ccc;

        }
        &:nth-last-child(1) a{
            border-right: none;
        }
    }
    
}

.footer ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li a{
    
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
.slider-main{
    height: 410px;
    overflow: hidden;
    border-bottom: solid 5px #1bafeb;
    ul{
        margin:0;
        padding:0;
        list-style: none;
        li.slide{
            margin:0;
            padding:0;
            position: relative;
            img{
                width: 100%;
            }
            .image-small{
                
            }
            .image-normal{
                display: none;
            }
            .container{
                position: relative;
                margin: 0 auto;
            }
            .caption{
                position: absolute;
                top: 0;
                left: 0;
                padding: 1em;
            }
            &.slide-1{
                .caption{
                    top: 2em;    
                }
                .slide-1-sugar-logo
                {
                    position: absolute;
                    width: 26%;
                    top: 6em;
                    right: -20em;
                }
                .slide-1-smartsheet-logo
                {
                    position: absolute;
                    width: 24%;
                    top: 1em;
                    right: -12em;
                }                  
                color: #fff;
                h3{                 
                    font-size: 1.5em;
                    color: #fff;
                }
                a{
                    color: #fff;
                    background: rgba(0,0,0,.5);
                    display: inline-block;
                    padding: .8em 2em;
                    font-size: .75em;
                    letter-spacing: .2em;
                    position: relative;
                    width: 10em;
                    &:before{
                        font-family: 'merxbpcom';
                        content: "\e60d";
                        font-size: 1.7em;
                        position: absolute;
                        right:-1.8em;
                        top:0;
                        background: #1bafeb;                      
                        padding: 0.15em .3em 0.15em .5em;
                        display: inline-block;
                    }
                }
                
            }
        }
    }
}
#servicios{
    padding: 3em 0;
    ul{
        margin:0;
        padding: 0;
        list-style: none;
        li{
            margin:0;
            padding: 0;
            .icon-servicio{
                border-radius:6em;
                background: #1bafeb;
                width: 6em;
                height: 6em;
                margin: 0 auto;
                padding: 1em;
                > span{
                    color: #fff;
                    font-size: 4em;

                }
            }     
            h3{
                font-weight: bold;
            }
        }
    }
}

nav{
    ul{
        text-align: right;
        list-style: none;
        li{
            display: inline-block;
            > a{
                color: #2a303e;            
                padding: .5em 2em;
                &:hover{
                    color:#1bafeb;
                    background: none;
                    border-bottom: solid .2em #1bafeb;
                }
            }
            &.active{
                a{
                    color:#1bafeb;
                    background: none;
                    border-bottom: solid .2em #1bafeb;
                }
            }
            &:nth-last-child(1),
            {
                a{
                    padding-right:0;
                }
            }
            &:nth-child(1)
            {
                a{
                    padding-left:0;
                }
            }
        }
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
   


    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .header,#servicios, .footer .container{
        margin: 0  auto;
        width: 768px;
    }
    .header {
        
        height: 6em;
        margin: 0 auto;
        h1{
            width: 250px;
            float: left;
        }
        .nav{
            width: 600px;
            float: right;
            > li {
                display: inline-block;                
                > a{
                    font-weight: bold;
                    padding-top: 2em;
                    padding-bottom: 2.5em;
                    margin: 0 1em;
                }
            }


        }
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    
    .slider-main{
        ul{           
            li.slide{               
                .image-small{
                    display: none;
                }
                .image-normal{
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    /* Space out the masthead */

    .header, #servicios, .footer>.container, .slider-main li.slide .container{
        width: 960px;

    }
    .slider-main {
        li.slide {
            &.slide-1{
                .caption{
                    top: 2em;    
                    font-size: 2em; 
                }                            
                color: #fff;
                h3{                 
                    font-size: 2.5em;
                    font-weight: bold;
                }
                p{
                    width:600px;
                }
                
            }   
        }
    }
    
    #servicios{
        
        ul{
            
            li{
                display: inline-block;
                width: 24.5%;
                h3{
                    font-weight: normal;
                }
            }
        }
    }

    .footer{  
        padding-top: 3em;
        padding-bottom: 3em;
        p{
            float: left;
            display: inline-block;
        }
        ul{
            float: right;
            width: 470px;
            text-align: right;
            
        }
    }
    

}


