<div class="row header">
  <div class="large-3 columns">
    <figure>
      <img src="images/merxbp_316_91.png" width="250" alt="">
    </figure>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-6 columns">
      </div>
      <div class="large-6 columns">
        <form action="" class="search-form"><input type="text" id="search-input" placeholder="Buscar..."><i class="icon-search"></i></form>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <nav >
          <span class="icon-menu"></span>
          <ul >
            <li class="active current"><a ng-href="#">Servicios</a></li>
            <li><a ng-href="#">Cursos</a></li>
            <li><a ng-href="#">Clientes</a></li>
            <li><a ng-href="#">Blog</a></li>
            <li><a ng-href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="slider-main">
<ul>
  <li class="slide slide-1">
    <div class="container">
      <div class="caption">
        <h3>SMARTSHEET <br>FOR SUGAR</h3>
        <p>Collaborate among all team members on projects with easy-to-use spreadsheet tool <p>
        <a href="#">VER MÁS</a>
      </div>
    </div>
    <img class="image-normal" src="images/main_slide/slide01.jpg" alt="">
    <img class="image-small" src="images/main_slide/slide01_small.jpg" alt="">
  </li>
</ul>


</div>
<section id="main-content">
    <br>
    <br>
  <div class="row">
    
      <div class="large-12 columns text-center">
         <h2>Never track projects in spreadsheets & email again!</h2>
         <h4 class="subheader">Collaborate smart proyects for smart customers  </h4>
      </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="large-12 columns centered-text mainfeature">
      <a href="/docs/components/interchange.html">
      <img src="images/browsers.png"></a>
    </div>
  </div>
   <br>
  <br>
    <br>
  <br>
  <div class="row">
    <div class="medium-3 large-5 columns">
      <a href="develop/download.html" target="blank"><img src="images/macbook.png"></a>
    </div>

    <div class="medium-9 large-7 columns">
      <h2>Smartsheet Project Management for Sugar CRM</h2 >
      <h5 class="hide-for-small">You can have the power of collaboration in the palm of your hand
Easily manage projects and track status - create simple project, add Gantt charts and dependencies. Track detail activity like emails, documents, meetings and notes inside SugarCRM and synchronize.</h5>
 

    </div>
  </div>
   <br>
  <br> <br>
  <br>
 <div class="row">
    <div class="medium-6 large-6 columns">
         <h2>Smart Proyects</h2>
         <h5 class="hide-for-small">In Merx Business Performance we help our customers to improve their business performance increasing market share and profitability by accelerating the transformation, Helping to control and increase the effectiveness and efficiency of the processes related to customer life cycle and aligning the organization around strategic and operational indicators.</h5>
     </div>
    <div class="medium-6 large-6 columns">
        <a href="develop/download.html" target="blank"><img src="images/macbook.png"></a>
    </div>
  </div>
</section>
 



  
<div class="footer">

  <div class="container">
    <p>MERX Business Performance / Todos los derechos reservados©</p>
    <ul>
      <li>
        <a href="#">Merx</a>
      </li><li>
        <a href="#">La empresa</a>
      </li><li>
        <a href="#">Servicios</a>
      </li><li>
        <a href="#">Blog</a>
      </li><li>
        <a href="#">Contacto</a>
      </li>
    </ul>
  </div>
</div>
